<div>
<form [formGroup]="loginForm">
<p>hello new user</p>
<button mat-raised-button ><input type="text" placeholder="name" formControlName="userName"></button>
    
    <input type="password" placeholder="password" formControlName="password">
    <input type="password" placeholder="repit password" formControlName="repeatPassword">
    <button (click)="sign()" type="submit" mat-raised-button >save</button>
</form>
</div>

<!-- <form [formGroup]="loginForm" >
<label>name</label>
<input type="text" name="userName" formControlName="userName">
<label>password</label>
<input type="password" name="password" formControlName="password">
<button type="submit" (click)="signIn()">sign-in</button>
</form> -->